@model FirstMillionaire.WebUI.Models.User

@{
    ViewBag.Title = "Result";
}

<!DOCTYPE html>

<html>
<head>
   
</head>
<body>

    <h1>Result</h1>
    <br />
    <img src="~/Content/images/FirstMillionaireOutcomes.jpg" width="400" height="250" alt="Results" />

</body>
</html>