@model FirstMillionaire.Repositories.Answer

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "GameOver";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View</title>
</head>
<body>
    <h2>GameOver</h2>
</body>
</html>


