
    
<link rel="stylesheet" type="text/css" href="~/Assets/Styles/bootstrap.css" />
<link rel="icon" type="image/jpg" href="http://s019.radikal.ru/i600/1707/f0/2708c3dc8f58.png" />
<title>Game Menu</title>

<h1>Game Menu</h1>